* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
    --br-size: 8px;
    --title-size: 24px;
    --subtitle-size: 18px;
    --text-size: 14px;
    --card-bg-color: #fff;
    --card-text-color: #333;
}

body {
  font-family: 'Arial', sans-serif;
  width: 100vw;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}
